// Colors
$Orange: #e37438;
$Black: #000000;
$DarkGrey: #3a3a3a;
$Lightgrey: #3a3a3a80;
$White: #ffffff;

.card {
  padding: 16px;
  width: 350px;
  height: 220px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border: 1px solid #e5e5e5;
  margin-top: 8px;
  border-radius: 6px;
  justify-content: space-between;
  align-items: flex-start;
}