// Colors
$Orange: #e37438;
$Black: #000000;
$DarkGrey: #3a3a3a;
$Lightgrey: #3a3a3a80;
$White: #ffffff;

.taskbar {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-left: 16px;
  padding-right: 16px;
  background-color: $Lightgrey;
  color: $White;
}

.form {
  padding-top: 32px;
  padding-bottom: 32px;

  .select {
    max-width: 350px;
  }
}