// Colors
$Orange: #e37438;
$Black: #000000;
$DarkGrey: #3a3a3a;
$Lightgrey: #3a3a3a80;
$White: #ffffff;

.taskbar {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 8px;
  background-color: $Lightgrey;
  color: $White;

  h2 {
    margin-bottom: 0px;
  }
}

.grid {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding: 16px;

  .card {
    padding: 16px;
    width: 350px;
    height: 300px;
    box-shadow:  0px 4px 8px rgba(52, 73, 94, 0.1);
    border-radius: 6px;
    margin-top: 8px;
    margin-bottom: 8px;
    h2 {
      color: $DarkGrey;
    }
    hr {
      background-color: $Orange;
      height: 3px;
    }
    .buttonbox {
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
      align-items: center;
    }
  }

  .usercard {
    padding: 16px;
    width: 350px;
    height: 175px;
    box-shadow:  0px 4px 8px rgba(52, 73, 94, 0.1);
    border-radius: 6px;
    margin-top: 8px;
    margin-bottom: 8px;
    h2 {
      color: $DarkGrey;
    }
    hr {
      background-color: $Orange;
      height: 3px;
    }
    .buttonbox {
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
      align-items: center;
    }
  }
}

.column {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-evenly;

  .row {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 16px;
    border: 2px solid $Orange;


    .rowdata {
      text-align: center;
    }
  }
}

// Responsive
// Phones
@media only screen and (max-width: 375px) {
  .header {
    .headerdata {
      max-width: 60px;
    }
  }
  .row {
    .rowdata {
      max-width: 60px;
    }
  }
}

// Phones XL
@media only screen and (max-width: 428px) and (min-width: 376px) {
  .header {
    .headerdata {
      max-width: 60px;
      text-align: center;
    }
  }
  .row {
    .rowdata {
      max-width: 60px;
    }
  }
}