// Colors
$Orange: #e37438;
$Black: #000000;
$DarkGrey: #3a3a3a;
$Lightgrey: #3a3a3a80;
$White: #ffffff;

.taskbar {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  padding: 16px;
  background-color: $Lightgrey;
  color: $White;

  .btnbox {
    width: 350px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}
.description {
  padding-top: 16px;
  width: 100%;
  .header {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
}

.routines {
  padding-top: 16px;
  width: 100%;

  .header {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .grid {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: flex-start;
    padding: 16px;

    .label {
      padding: 16px;
      width: 350px;
      height: 60px;
      box-shadow: 0px 4px 8px rgba(52, 73, 94, 0.1);
      border-radius: 6px;
      margin-top: 8px;
      margin-bottom: 8px;
      display: flex;
      flex-direction: row;
      justify-content: space-between;

      .remove {
        background-color: #df6060;
        width: 25px;
        height: 25px;
        text-align: center;
        border-radius: 100px;
      }
    }
  }
}

// Phones
@media only screen and (max-width: 375px) {
  .taskbar {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 16px;
    background-color: $Lightgrey;
    color: $White;

    .btnbox {
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
    }
  }
  .description {
    padding-top: 16px;
    width: 350px;
  }

  .routines {
    padding-top: 16px;
    width: 350px;

    .header {
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;

      .btnbox {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
      }
    }

    .grid {
      width: 100%;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-evenly;
      align-items: flex-start;
      padding: 16px;

      .label {
        padding: 16px;
        width: 350px;
        height: 60px;
        box-shadow: 0px 4px 8px rgba(52, 73, 94, 0.1);
        border-radius: 6px;
        margin-top: 8px;
        margin-bottom: 8px;
      }
    }
  }
}

// Phones XL
@media only screen and (max-width: 428px) and (min-width: 376px) {
  .taskbar {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 16px;
    background-color: $Lightgrey;
    color: $White;

    .btnbox {
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
    }
  }
  .description {
    padding-top: 16px;
    width: 350px;
  }

  .routines {
    padding-top: 16px;
    width: 350px;

    .header {
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;

      .btnbox {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
      }
    }

    .grid {
      width: 100%;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-evenly;
      align-items: flex-start;
      padding: 16px;

      .label {
        padding: 16px;
        width: 350px;
        height: 60px;
        box-shadow: 0px 4px 8px rgba(52, 73, 94, 0.1);
        border-radius: 6px;
        margin-top: 8px;
        margin-bottom: 8px;
      }
    }
  }
}
