.boxcenter {
  max-width: 1160px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.boxright {
  max-width: 1160px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}

.boxleft {
  max-width: 1160px;
  width: 100%;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
}

.boxdown {
  max-width: 1160px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}


// Responsive
// Phones
@media only screen and (max-width: 375px) {
  .boxcenter {
    max-width: 375px;
  }
  
  .boxright {
    max-width: 375px;
  }
  
  .boxleft {
    max-width: 375px;
  }
  
  .boxdown {
    max-width: 375px;
  }
}

// Phones XL
@media only screen and (max-width: 428px) and (min-width: 376px) {
  .boxcenter {
    max-width: 428px;
  }
  
  .boxright {
    max-width: 428px;
  }
  
  .boxleft {
    max-width: 428px;
  }
  
  .boxdown {
    max-width: 428px;
  }
}