// Colors
$Orange: #E37438;
$Black: #000000;
$DarkGrey: #3A3A3A;
$Lightgrey: #3A3A3A80;
$White: #ffffff;

.button_primary {
  background: $Orange;
  border: none;
  border-radius: 20px;
  font-family: sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 140%;
  color: $White;
  padding: 8px 20px;
  cursor: pointer;
}

.button_secondary {
  background: $DarkGrey;
  border: 1px solid $Lightgrey;
  box-sizing: border-box;
  border-radius: 20px;
  font-family: sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 140%;
  color: $White;
  padding: 8px 20px;
  cursor: pointer;
}

.button_white {
  background: #ffffff;
  border: 1px solid $Orange;
  box-sizing: border-box;
  border-radius: 20px;
  font-family: sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 140%;
  color: $Orange;
  padding: 8px 20px;
  cursor: pointer;
}

.button_disabled {
  background: $Lightgrey;
  border: none;
  border-radius: 20px;
  font-family: sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 140%;
  color: $Black;
  padding: 8px 20px;
  cursor: pointer;
}

.button_ghost {
  background: transparent;
  border: none;
  border-radius: 20px;
  font-family: sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 140%;
  color: $Orange;
  padding: 8px 20px;
  cursor: pointer;
}

.button_danger {
  background: #FF5C5C;
  border: none;
  border-radius: 20px;
  font-family: sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 140%;
  color: $White;
  padding: 8px 20px;
  cursor: pointer;
}
// Phones
@media only screen and (max-width: 375px) {
  .button_primary {
    border-radius: 27px;
    font-size: 14px;
    // padding: 14px 30px;
  }

  .button_secondary {
    border-radius: 27px;
    font-size: 18px;
    // padding: 14px 30px;
  }

  .button_danger {
    border-radius: 27px;
    font-size: 14px;
  }
}

// Phones XL
@media only screen and (max-width: 428px) and (min-width: 376px) {
  .button_primary {
    border-radius: 27px;
    font-size: 14px;
    // padding: 14px 30px;
  }

  .button_secondary {
    border-radius: 27px;
    font-size: 14px;
    // padding: 14px 30px;
  }
  .button_danger {
    border-radius: 27px;
    font-size: 14px;
  }
}
