.container {
  width: 100%;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

// Responsive
// Phones
@media only screen and (max-width: 375px) {
  .boxcenter {
    max-width: 375px;
  }
  
  .boxright {
    max-width: 375px;
  }
  
  .boxleft {
    max-width: 375px;
  }
  
  .boxdown {
    max-width: 375px;
  }
}

// Phones XL
@media only screen and (max-width: 428px) and (min-width: 376px) {
  .boxcenter {
    max-width: 428px;
  }
  
  .boxright {
    max-width: 428px;
  }
  
  .boxleft {
    max-width: 428px;
  }
  
  .boxdown {
    max-width: 428px;
  }
}