// Colors
$Orange: #E37438;
$Black: #000000;
$DarkGrey: #3A3A3A;
$Lightgrey: #3A3A3A80;
$White: #ffffff;

.footer {
  width: 100%!important;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding-top: 16px;
  padding-bottom: 16px;
  width: 350px;
  p {
    width: 100%;
    color: $Black;
    font-size: 9px;
    text-align: center;
  }
}