// Colors
$Orange: #e37438;
$Black: #000000;
$DarkGrey: #3a3a3a;
$Lightgrey: #3a3a3a80;
$White: #ffffff;

.body {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: $Orange;
  color: $White;

  h2 {
    padding-top: 16px;
    padding-bottom: 16px;
    margin-bottom: 0px;
    padding-left: 32px;
  }
}