// Colors
$Orange: #e37438;
$Black: #000000;
$DarkGrey: #3a3a3a;
$Lightgrey: #3a3a3a80;
$White: #ffffff;

.card {
  width: 350px;
  height: 275px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border: 1px solid #E5E5E5;
  margin-bottom: 16px;
  margin-top: 16px;
  border-radius: 6px;
  h2 {
    text-align: center;
    color: $Lightgrey;
    padding: 8px;
    margin: 0px;
    background-color: #E5E5E5;
    width: 100%;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
  }

  h3 {
    margin: 0px;
  }
  .body {
    padding: 16px;
  }
}