// Colors
$Orange: #e37438;
$Black: #000000;
$DarkGrey: #3a3a3a;
$Mediumgrey: #3a3a3a80;
$White: #ffffff;
$Lightgrey: #ecf0f1;

.select {
  width: 350px;
  border: 2px solid $Orange;
  // background-color: $Lightgrey;
  color: $DarkGrey;
  height: 40px;
  border-radius: 6px;
  margin-bottom: 12px;
}