// Colors
$Orange: #E37438;
$Black: #000000;
$DarkGrey: #3A3A3A;
$Lightgrey: #3A3A3A80;
$White: #ffffff;

.label {
  color: $DarkGrey;
  font-family: sans-serif;
  margin-bottom: -15px;
}
.textinput {
  color: $DarkGrey;
  font-family: sans-serif;
  border: 0px;
  border-radius: 6px;
  border: 2px solid $Orange;
  width: 350px;
  background-color: $White;
  padding-left: 5px;
  margin-bottom: 12px;
  height: 36px;
}