// Colors
$Orange: #e37438;
$Black: #000000;
$DarkGrey: #3a3a3a;
$Lightgrey: #3a3a3a80;
$White: #ffffff;


.body {
  .label {
    color: $DarkGrey;
    font-family: sans-serif;
    margin-bottom: -15px;
  }

  .textarea {
    color: $DarkGrey;
    font-family: sans-serif;
    border: 0px;
    border-radius: 6px;
    border: 2px solid $Orange;
    padding-left: 5px;
    margin-bottom: 12px;
  }
}
