// Colors
$Orange: #e37438;
$Black: #000000;
$DarkGrey: #3a3a3a;
$Lightgrey: #3a3a3a80;
$White: #ffffff;

.header {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;

  h2 {
    margin-bottom: 0px;
  }
  hr {
    height: 1px;
    color: $DarkGrey;
    width: 100%;
  }
}
.grid {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  padding-top: 32px;
  padding-bottom: 32px;

  .card {
    padding: 16px;
    width: 350px;
    height: 220px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border: 1px solid #e5e5e5;
    margin-top: 8px;
    border-radius: 6px;
    justify-content: space-between;
    align-items: flex-start;
  }
}

// Responsive
// Phones
@media only screen and (max-width: 375px) {
  .header {
    h2 {
      padding-left: 16px;
    }
  }
  .grid {
    justify-content: center;
    .card {
      margin-bottom: 8px;
    }
  }
}

// Phones XL
@media only screen and (max-width: 428px) and (min-width: 376px) {
  .header {
    h2 {
      padding-left: 16px;
    }
  }
  .grid {
    justify-content: center;

    .card {
      margin-bottom: 8px;
    }
  }
}