// Colors
$Orange: #e37438;
$Black: #000000;
$DarkGrey: #3a3a3a;
$Lightgrey: #3a3a3a80;
$White: #ffffff;

.body {
  width: 350px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  height: 500px;
  h2 {
    color: $Orange;
  }
}
