// Colors

$Orange: #E37438;
$Black: #000000;
$DarkGrey: #3A3A3A;
$Lightgrey: #3A3A3A80;
$White: #ffffff;

.box {
  padding-top: 5%;
  display: flex;
  flex-direction: column;
  min-width: 350px;
  align-items: center;

  .image {
    width: 200px;
  }
  
  h2 {
    text-align: center;
    color: $Orange;
  }

}