// Colors
$Orange: #e37438;
$Black: #000000;
$DarkGrey: #3a3a3a;
$Lightgrey: #3a3a3a80;
$White: #ffffff;

.header {
  width: 100%;
  .bar {
    background-color: $Orange;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 5px;
    padding-right: 5px;
  }
  h2 {
    background-color: $Orange;
    padding: 8px;
    text-align: center;
    margin-bottom: 0px;
    margin-top: 0px;
    color: $White;
  }

  h3 {
    background-color: $DarkGrey;
    padding: 8px;
    text-align: center;
    margin-bottom: 0px;
    margin-top: 0px;
    color: $White;
  }
}

.card {
  width: 350px;
  height: 275px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border: 1px solid #E5E5E5;
  margin-bottom: 16px;
  margin-top: 16px;
  border-radius: 6px;
  h2 {
    text-align: center;
    color: $Lightgrey;
    padding: 8px;
    margin: 0px;
    background-color: #E5E5E5;
    width: 100%;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
  }

  h3 {
    margin: 0px;
  }
  .body {
    padding: 16px;
  }
}

.grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-content: space-around;
}
