// Colors
$Orange: #E37438;
$Black: #000000;
$DarkGrey: #3A3A3A;
$Lightgrey: #3A3A3A80;
$White: #ffffff;

.form {
  padding-top: 5%;
  display: flex;
  flex-direction: column;
  width: 350px;

  .image {
    width: 100px;
  }
  
  h2 {
    text-align: center;
    color: $Orange;
  }
}