// Colors
$Orange: #e37438;
$Black: #000000;
$DarkGrey: #3a3a3a;
$Lightgrey: #3a3a3a80;
$White: #ffffff;

.header {
  width: 100%;
  h2 {
    background-color: $Orange;
    padding: 8px;
    text-align: center;
    margin-bottom: 0px;
    margin-top: 0px;
    color: $White;
  }

  h3 {
    background-color: $DarkGrey;
    padding: 8px;
    text-align: center;
    margin-bottom: 0px;
    margin-top: 0px;
    color: $White;
  }
  .minibar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: $Lightgrey;
    padding: 8px;
    h4 {
      padding: 8px;
      text-align: center;
      margin-bottom: 0px;
      margin-top: 0px;
      color: $Black;
    }
  }
}

.card {

  width: 350px;
  // height: 275px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border: 1px solid #e5e5e5;
  margin-bottom: 16px;
  margin-top: 16px;
  border-radius: 6px;

  iframe {
    padding-left: 16px;
    padding-right: 16px;
    border-radius: 6px 6px 0px 0px;
    border: none;
  }
  h2 {
    text-align: center;
    color: $Lightgrey;
    padding: 8px;
    margin: 0px;
    background-color: #e5e5e5;
    width: 100%;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
  }
  
  .body {
    padding: 16px;
    h3 {
      margin: 0px;
    }
  }
}

.grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-content: space-around;
  padding-bottom: 16px;

  h4 {
    background-color: $Orange;
    width: 100%;
    text-align: center;
    color: $White;
    margin-top: 0px;
    padding: 16px;
  }
  table {
    width: 100%;
    margin-bottom: 32px;
    thead {
      background-color: #e37438;
      text-align: center;
      color: $White;

      th {
        border: 1px solid $DarkGrey;
        padding: 5px;
      }
    }
    tbody {
      text-align: center;

      td {
        border: 1px solid $DarkGrey;
        padding: 5px;
      }
    }
  }
}
